<!--The content below is only a placeholder and can be replaced.-->
<form action="">
  <h3>Add a link</h3>
  <!-- Title field -->
  <div>
    <label for="title" id="title">Title:</label>
    <br>
    <input type="text" id="title">
  </div>

  <!-- Link field -->
  <div>
    <label for="link" id="link">Link:</label>
    <br>
    <input type="text" id="link">

    <div>
    <label for="title" id="title">Title:</label>
    <br>
    <input type="text" id="title">
  </div>
  <br>

  <!-- Submit button -->
  <button>
    Submit link
  </button>
  </div>



</form>

<router-outlet></router-outlet>
